@use "./variables" as *;

.login-button {
  height: 90px;
  width: 190px;
  margin-top: 50px;
  margin-right: 60px;
  background-color: $color-white;
  color: $color-primary;
  border-radius: 10px;
  border: 2px solid $color-primary;
  font-family: $font-body;
  font-weight: 700;
  font-size: 30px;
}

.dada {
  height: 170px;
}

.first-text-block {

  .first-text {
    font-family: $font-header;
    color: $color-secondary;
    text-align: center;
    font-size: 48px;
  }
  
  .mockup {
    margin: 30px 0px;
    height: 860px;
  }
}

.second-text {
  font-family: $font-body;
  font-weight: 600;
  color: $color-primary;
  font-size: 48px;
}

.third-text {
  font-family: $font-body;
  font-weight: 500;
  color: $color-secondary;
  font-size: 36px;
}

.fourth-text {
  font-family: $font-body;
  font-weight: 300;
  color: $color-primary;
  font-size: 24px;
  text-align: center;
}

.dadvice {
  padding: 10px 30px 10px 30px;
  border: none;
  background-color: $color-primary;
  color: $color-white;
  border-radius: 10px;
  font-size: 1.5em;
  height: 75px;
  width: 320px;
  font-family: $font-body;
  font-weight: 700;
}

.info-text {
  text-align: center;
  font-family: $font-body;
  font-size: 2.5em;
  font-weight: 500;
  color: $color-primary;
}

.blocks {
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 40px;

  .par {
    width: 430px;
    font-size: 2em;
    font-family: $font-body;
    font-weight: 400;
    color: $color-primary;
    line-height: 1.5;

    

    strong {
      font-weight: 500;
    }
  }

  .penguin1 {
    height: 250px;
    width: auto;
  }

  .penguin2 {
    height: 300px;
    width: auto;
  }

  .penguin3 {
    height: 220px;
    width: auto;
  }

  .penguin4 {
    margin-right: 40px;
  }
}

.sign-up {
  width: 400px;
  height: 100px;
  margin: 50px auto;
  border: none;
  border-radius: 10px;
  background-color: $color-primary;
  color: $color-white;
  font-family: $font-body;
  font-size: 2em;
  font-weight: 700;
}

footer {
  font-family: $font-body;
  font-size: 2.3em;
  font-weight: 500;
  color: $color-primary;
  background-color: $color-footer;
}


@media only screen and (min-width: 992px) {
    .blocks {
        height: 400px;

        .par {
            width: 530px;
            font-size: 2.5em;
        }

        .penguin1 {
            height: 350px;
             width: auto;
        }

        .penguin2 {
            height: 400px;
            width: auto;
          }
        
          .penguin3 {
            height: 320px;
            width: auto;
          }
        
          .penguin4{
            height: 358px;
            width: auto;
          }
    }

    .info-text {
        font-size: 3em;
    }

    .dadvice {
        font-size: 2em;
        height: 100px;
        width: 400px;
    }


}