@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&family=Open+Sans:wght@400;500;600;700&display=swap');

$font-header: "M PLUS Rounded 1c", "sans-serif";
$font-body: "Open Sans", "sans-sherif";

$color-primary: #394166;
$color-secondary: #1AB9F0;
$color-footer: #FFFCDD;
$color-black: #333333;
$color-white: #fafafa;

